@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  background-color: #d6e2f0;
  font-family: "Outfit", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  max-width: 300px;
  width: 100%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

img {
  width: 100%;
  max-width: 300px;
  object-fit: contain;
  border-radius: 20px;
}

h2,
p {
  text-align: center;
}

p {
  color: #7b879d;
}
